* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  scroll-padding-top: 15rem;
}
body {
  background-color: #eea960;
}
header {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 75px;
  background-color: #eea200;
  line-height: 75px;
  width: 100%;
  z-index: 2;
}
.page {
  margin-top: 90px;
}
input[type="checkbox"] {
  width: 2%;
  height: 1em;
}
.logo {
  vertical-align: middle;
  padding-left: 20px;
  text-shadow: 2px 2px rgba(255, 0, 255, 0.5), 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.logo a:link,
a:visited {
  text-decoration: none;
}
.logo a:hover {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.nav-menu ul {
  list-style: none;
  padding-right: 10px;
}

.nav-menu ul li {
  display: inline-block;
  line-height: 50px;
  height: 50px;
}
.menu ul li a {
  text-decoration: none;
  padding: 15px;
  color: rgb(8, 119, 129);
}
.link {
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 20px;
  border-right: 2px dotted transparent;
  transition: 0.4s;
}
.linker {
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 20px;
  border-right: 2px dotted transparent;
  transition: 0.4s;
}
.nav-menu .link1 ul li {
  display: block;
}
.link:hover {
  background-color: white;
  color: #c5beae;
  padding: 28px 20px;
}
.linker:hover {
  background-color: white;
  color: #eea200;
  padding: 29px 20px;
}
.contenitore {
  position: absolute;
  height: 88vh;
  width: 100%;
  background-color: #eea200;
}
.slider {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: khaki;
  margin: 0;
}
.wrapper {
  width: 500vw;
  animation: slide 20s ease infinite;
}
.slide {
  float: left;
  height: 100vh;
  width: 100vw;
}
.slide img {
  height: 100%;
  width: 100%;
}
.bottom {
  position: absolute;
  width: 100%;
  height: 5vh;
  bottom: 0;
  text-align: center;
}
.bullet {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  display: inline-block;
  margin-right: 8px;
  opacity: 0.7;
}

@keyframes slide {
  20% {
    margin-left: -0vw;
  }
  30% {
    margin-left: -100vw;
  }
  50% {
    margin-left: -100vw;
  }
  60% {
    margin-left: -200vw;
  }
  70% {
    margin-left: -200vw;
  }
  80% {
    margin-left: -300vw;
  }
  90% {
    margin-left: -300vw;
  }
}
input[type="submit"] {
  width: 10vw;
  background-color: aqua;
  font-size: 2vw;
}
input[type="text"] {
  font-size: 2vw;
}
input[type="email"] {
  font-size: 2vw;
}
.middle {
  margin-top: 100vh;
}
.box {
  width: 33%;
  height: 30vh;
  position: static;
  float: none;
  display: inline-block;
}

.nascosto {
  background-image: url("immagine.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
  background-size: 100% 100%;
}

.pic {
  padding: 10px;
}
.nascosto span {
  opacity: 0;
}
.nascosto:hover span {
  opacity: 1;
  color: white;
}
.responsive {
  width: 100%;
  height: auto;
}
.column {
  width: 33.33%;
  height: 50vh;
  border-style: solid;
  text-align: center;
  line-height: 30px;
  overflow: auto;
}
.info {
  width: 25%;
  border-style: solid;
  text-align: center;
  overflow: auto;
  line-height: 6vh;
}
.info h3 {
  font-size: 2rem;
}
p {
  text-align: center;
  font-size: 25px;
  margin:auto 10px;
}
.responsive1 {
  width: 30%;
  height: auto;
}
.portfolio {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.portfolio > div {
  background-color: black;
}
.blocco {
  z-index: -1;
  position: relative;
  width: 49%;
  height: 40vh;
}
.blocco img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.prezzo {
  text-align: center;
  line-height: 40vh;
}
.form {
  padding-top: 20vh;
}
.form h1 {
  font-style: italic;
}
.form1 h1 {
  font-style: italic;
}
.box h1 {
  text-align: center;
}
.sub {
  opacity: 0;
}
input:checked + label .sub {
  opacity: 1;
}

/* Iphone 5 */
@media screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    position: fixed;
    height: 45px;
    line-height: 45px;
  }
  input[type="submit"] {
    width: 20vw;
    font-size: 20px;
  }
  .info {
    margin-bottom: 50%;
    margin-top: -25%;
    width: 50%;
  }
  .info h3 {
    font-size: 1em;
  }
  .nascosto {
    height: 100%;
    width: 40vh;
    margin: auto;
  }
  .contenitore {
    height: 45vh;
  }
  .slide {
    height: 45vh;
  }
  .middle {
    margin-top: 50vh;
  }
  .comparsa ul li {
    display: none;
  }
  .smenu:hover ~ .comparsa ul li {
    display: block;
  }
  .logo h1 {
    font-size: 28px;
  }
  .nav-menu {
    visibility: hidden;
  }
  .footer {
    display: block;
    float: none;
  }
  .box {
    float: none;
    display: block;
    margin: auto;
    width: 100%;
    height: 35vh;
    padding-bottom: 20px;
  }
  .blocco {
    float: none;
    position: sticky;
    z-index: -1;
    margin: auto;
  }
  .blocco img {
    width: 25vh;
  }
  .column {
    overflow: auto;
    display: block;
    float: none;
    margin: auto;
    width: 80vw;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: 100%;
  }

  .prezzo {
    font-size: 5vw;
    line-height: 5vh;
  }
  .form {
    font-size: 25px;
    margin-top: -20vh;
  }
  .form input {
    font-size: 20px;
  }
  .form1 {
    font-size: 25px;
    margin-top: -30vh;
  }
  .form1 input {
    font-size: 20px;
  }
  .sub {
    font-size: 10vw;
  }
  .slice {
    height: 3px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 45vw;
  }
  input[type="submit"] {
    width: 50vw;
  }
  .smenu {
    margin-bottom: 2vh;
  }
  .burger {
    margin: auto;
    margin-top: -22.5vh;
    line-height: 3px;
    margin-right: -98vw;
  }
  .comparsa ul {
    width: 32vh;
  }
  .linker {
    z-index: -10;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    padding: 2px;
  }
  .burger {
    visibility: hidden;
  }
  .smenu {
    visibility: visible;
  }
  .smenu:hover ~ .burger {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li .linker {
    display: block;
    z-index: 10;
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    position: relative;
    z-index: 10;
  }
  .comparsa ul li {
    display: block;
    border: black;
    border-style: solid;
    border-width: 1px;
  }
  .comparsa {
    opacity: 0;
    background-color: #eea200;
    line-height: 10vh;
    margin-top: 4.9vh;
    margin-right: 95vw;
    width: 32vh;
  }
  .smenu:hover ~ .comparsa {
    opacity: 1;
  }
  .smenu {
    margin-bottom: 2vh;
    position: absolute;
    width: 0px;
  }
}
/* android */
@media only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    position: fixed;
    height: 45px;
    line-height: 45px;
  }
  * {
    scroll-padding-top: 5rem;
  }
  input[type="submit"] {
    width: 20vw;
    font-size: 20px;
  }
  .info {
    margin: -45% auto 60%;
    width: 70%;
  }
  p{
    font-size: 17.5px;
  }
  .nascosto {
    height: 100%;
    width: 40vh;
    margin: auto;
  }
  .contenitore {
    height: 45vh;
  }
  .slide {
    height: 45vh;
  }
  .middle {
    margin-top: 50vh;
  }
  .comparsa ul li {
    display: none;
  }
  .smenu:hover ~ .comparsa ul li {
    display: block;
  }
  .logo h1 {
    font-size: 28px;
  }
  .nav-menu {
    visibility: hidden;
  }
  .footer {
    display: block;
    float: none;
  }
  .box {
    float: none;
    display: block;
    margin: auto;
    width: 100%;
    height: 35vh;
    padding-bottom: 20px;
  }
  .blocco {
    float: none;
    position: sticky;
    z-index: -1;
    margin: auto;
  }
  .blocco img {
    width: 25vh;
  }
  .column {
    overflow: auto;
    display: block;
    float: none;
    margin: auto;
    width: 80vw;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: 100%;
  }

  .prezzo {
    font-size: 5vw;
    line-height: 5vh;
  }
  .form {
    font-size: 25px;
    margin-top: -20vh;
  }
  .form input {
    font-size: 20px;
  }
  .form1 {
    font-size: 25px;
    margin-top: -30vh;
  }
  .form1 input {
    font-size: 20px;
  }
  .sub {
    font-size: 10vw;
  }
  .slice {
    height: 3px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 45vw;
  }
  input[type="submit"] {
    width: 50vw;
  }
  .smenu {
    margin-bottom: 2vh;
  }
  .burger {
    margin: auto;
    margin-top: -21vh;
    line-height: 3px;
    margin-right: -98vw;
  }
  .comparsa ul {
    width: 32vh;
  }
  .linker {
    z-index: -10;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    padding: 2px;
  }
  .burger {
    visibility: hidden;
  }
  .smenu {
    visibility: visible;
  }
  .smenu:hover ~ .burger {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li .linker {
    display: block;
    z-index: 10;
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    position: relative;
    z-index: 10;
  }
  .comparsa ul li {
    display: block;
    border: black;
    border-style: solid;
    border-width: 1px;
  }
  .comparsa {
    opacity: 0;
    background-color: #eea200;
    line-height: 10vh;
    margin-top: 4.9vh;
    margin-right: 95vw;
    width: 32vh;
  }
  .smenu:hover ~ .comparsa {
    opacity: 1;
  }
  .smenu {
    margin-bottom: 2vh;
    position: absolute;
    width: 0px;
  }
}
/* BlackView */
@media only screen and (min-width: 360px) and (max-width: 860px) {
  header {
    position: fixed;
    height: 45px;
    line-height: 45px;
  }
  * {
    scroll-padding-top: 5rem;
  }
  input[type="submit"] {
    width: 20vw;
    font-size: 20px;
  }
  .info {
    margin: -45% auto 60%;
    width: 70%;
  }
  p{
    font-size: 17.5px;
  }
  .nascosto {
    height: 100%;
    width: 40vh;
    margin: auto;
  }
  .contenitore {
    height: 45vh;
  }
  .slide {
    height: 45vh;
  }
  .middle {
    margin-top: 50vh;
  }
  .comparsa ul li {
    display: none;
  }
  .smenu:hover ~ .comparsa ul li {
    display: block;
  }
  .logo h1 {
    font-size: 28px;
  }
  .nav-menu {
    visibility: hidden;
  }
  .footer {
    display: block;
    float: none;
  }
  .box {
    float: none;
    display: block;
    margin: auto;
    width: 100%;
    height: 35vh;
    padding-bottom: 20px;
  }
  .blocco {
    float: none;
    position: sticky;
    z-index: -1;
    margin: auto;
  }
  .blocco img {
    width: 25vh;
  }
  .column {
    overflow: auto;
    display: block;
    float: none;
    margin: auto;
    width: 80vw;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: 100%;
  }

  .prezzo {
    font-size: 5vw;
    line-height: 5vh;
  }
  .form {
    font-size: 25px;
    margin-top: -20vh;
  }
  .form input {
    font-size: 20px;
  }
  .form1 {
    font-size: 25px;
    margin-top: -30vh;
  }
  .form1 input {
    font-size: 20px;
  }
  .sub {
    font-size: 10vw;
  }
  .slice {
    height: 3px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 45vw;
  }
  input[type="submit"] {
    width: 50vw;
  }
  .smenu {
    margin-bottom: 2vh;
  }
  .burger {
    margin: auto;
    margin-top: -15vh;
    line-height: 3px;
    margin-right: -100vw;
  }
  .comparsa ul {
    width: 32vh;
  }
  .linker {
    z-index: -10;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    padding: 2px;
  }
  .burger {
    visibility: hidden;
  }
  .smenu {
    visibility: visible;
  }
  .smenu:hover ~ .burger {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li .linker {
    display: block;
    z-index: 10;
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    position: relative;
    z-index: 10;
  }
  .comparsa ul li {
    display: block;
    border: black;
    border-style: solid;
    border-width: 1px;
  }
  .comparsa {
    opacity: 0;
    background-color: #eea200;
    line-height: 10vh;
    margin-top: 4.9vh;
    margin-right: 95vw;
    width: 32vh;
  }
  .smenu:hover ~ .comparsa {
    opacity: 1;
  }
  .smenu {
    margin-bottom: 2vh;
    position: absolute;
    width: 0px;
  }
}
/* Iphone 6, 7, 8 */
@media screen and (max-width: 667px) and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    position: fixed;
    height: 45px;
    line-height: 45px;
  }
  .info {
    margin-bottom: 50%;
    margin-top: -40%;
    width: 70%;
  }
  .info h3 {
    font-size: 1em;
  }
  .nascosto {
    height: 85%;
    width: 40vh;
    margin: -10px auto;
  }
  p{
    font-size:20px;
  }
  .contenitore {
    height: 45vh;
  }
  .slide {
    height: 45vh;
  }
  .middle {
    margin-top: 50vh;
  }
  .comparsa ul li {
    display: none;
  }
  .smenu:hover ~ .comparsa ul li {
    display: block;
  }
  .logo h1 {
    font-size: 28px;
  }
  .nav-menu {
    visibility: hidden;
  }
  .footer {
    display: block;
    float: none;
  }
  .box {
    float: none;
    display: block;
    margin: auto;
    width: 100%;
    height: 35vh;
    padding-bottom: 20px;
  }
  .blocco {
    float: none;
    position: sticky;
    z-index: -1;
    margin: auto;
  }
  .blocco img {
    width: 25vh;
  }
  .column {
    overflow: auto;
    display: block;
    float: none;
    margin: auto;
    width: 80vw;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: 100%;
  }

  .prezzo {
    font-size: 5vw;
    line-height: 5vh;
  }
  .form {
    font-size: 25px;
    margin-top: -20vh;
  }
  .form input {
    font-size: 20px;
  }
  .form1 {
    font-size: 25px;
    margin-top: -30vh;
  }
  .form1 input {
    font-size: 20px;
  }
  .sub {
    font-size: 10vw;
  }
  .slice {
    height: 3px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 45vw;
  }
  input[type="submit"] {
    width: 50vw;
  }
  .smenu {
    margin-bottom: 2vh;
  }
  .burger {
    margin: auto;
    margin-top: -34%;
    line-height: 3px;
    margin-right: -98vw;
  }
  .comparsa ul {
    width: 32vh;
  }
  .linker {
    z-index: -10;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    padding: 2px;
  }
  .burger {
    visibility: hidden;
  }
  .smenu {
    visibility: visible;
  }
  .smenu:hover ~ .burger {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li .linker {
    display: block;
    z-index: 10;
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    position: relative;
    z-index: 10;
  }
  .comparsa ul li {
    display: block;
    border: black;
    border-style: solid;
    border-width: 1px;
  }
  .comparsa {
    z-index: 3;
    opacity: 0;
    background-color: #eea200;
    line-height: 10vh;
    margin-top: 4vh;
    margin-right: 95vw;
    width: 32vh;
  }
  .smenu:hover ~ .comparsa {
    opacity: 1;
  }
  .smenu {
    margin-bottom: 2vh;
    position: absolute;
  }
}
/* Iphone x */
@media screen and (max-width: 812px) and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  header {
    position: fixed;
    height: 45px;
    line-height: 45px;
  }
  .info {
    margin-bottom: 70%;
    margin-top: -50%;
  }
  .nascosto {
    height: 80%;
    width: 80%;
    margin: auto;
  }
  .comparsa ul li {
    display: none;
  }
  .smenu:hover ~ .comparsa ul li {
    display: block;
  }
  .contenitore {
    height: 45vh;
  }
  .slide {
    height: 45vh;
  }
  .middle {
    margin-top: 50vh;
  }
  .logo h1 {
    font-size: 28px;
  }
  .nav-menu {
    visibility: hidden;
  }
  .footer {
    display: block;
    float: none;
  }
  .box {
    float: none;
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
  }
  .blocco {
    float: none;
    position: sticky;
    z-index: -1;
    margin: auto;
  }
  .blocco img {
    width: 25vh;
  }
  .column {
    overflow: auto;
    display: block;
    float: none;
    margin: auto;
    width: 80vw;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: 100%;
  }

  .prezzo {
    font-size: 5vw;
    line-height: 5vh;
  }
  .form {
    font-size: 25px;
    margin: -20vh 10px auto;
  }
  .form input {
    font-size: 20px;
  }
  .form1 {
    font-size: 25px;
    margin-top: -30vh;
  }
  .form1 input {
    font-size: 20px;
  }
  .sub {
    font-size: 10vw;
  }
  .slice {
    height: 3px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 55vw;
  }
  input[type="submit"] {
    width: 50vw;
  }
  .smenu {
    margin-bottom: 2vh;
  }
  .burger {
    margin: auto;
    margin-top: -15.7vh;
    line-height: 3px;
    margin-right: -98vw;
  }
  .comparsa ul {
    width: 32vh;
  }
  .linker {
    z-index: -10;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    padding: 2px;
  }
  .burger {
    visibility: hidden;
  }
  .smenu {
    visibility: visible;
  }
  .smenu:hover ~ .burger {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li .linker {
    display: block;
    z-index: 10;
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    position: relative;
    z-index: 10;
  }
  .comparsa ul li {
    display: block;
    border: black;
    border-style: solid;
    border-width: 1px;
  }
  .comparsa {
    z-index: 3;
    opacity: 0;
    background-color: #eea200;
    line-height: 10vh;
    margin-top: 3.4vh;
    margin-right: 95vw;
    width: 32vh;
  }
  .smenu:hover ~ .comparsa {
    opacity: 1;
  }
  .smenu {
    margin-bottom: 2vh;
    position: absolute;
    width: 0px;
  }
}

/* Iphone 6+, 7+, 8+ */
@media screen and (max-width: 736px) and (min-width: 414px) and (-webkit-min-device-pixel-ratio: 3) {
  header {
    position: fixed;
    height: 45px;
    line-height: 45px;
  }
  .info {
    margin-bottom: 70%;
  }
  .nascosto {
    height: 80%;
    width: 80%;
    margin: auto;
  }
  .comparsa ul li {
    display: none;
  }
  .smenu:hover ~ .comparsa ul li {
    display: block;
  }
  .contenitore {
    height: 45vh;
  }
  .slide {
    height: 45vh;
  }
  .middle {
    margin-top: 50vh;
  }
  .logo h1 {
    font-size: 28px;
  }
  .nav-menu {
    visibility: hidden;
  }
  .footer {
    display: block;
    float: none;
  }
  .box {
    float: none;
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
  }
  .blocco {
    float: none;
    position: sticky;
    z-index: -1;
    margin: auto;
  }
  .blocco img {
    width: 25vh;
  }
  .column {
    overflow: auto;
    display: block;
    float: none;
    margin: auto;
    width: 80vw;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: 100%;
  }

  .prezzo {
    font-size: 5vw;
    line-height: 5vh;
  }
  .form {
    font-size: 25px;
    margin-top: -20vh;
  }
  .form input {
    font-size: 20px;
  }
  .form1 {
    font-size: 25px;
    margin-top: -30vh;
  }
  .form1 input {
    font-size: 20px;
  }
  .sub {
    font-size: 10vw;
  }
  .slice {
    height: 3px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 45vw;
  }
  input[type="submit"] {
    width: 50vw;
  }
  .smenu {
    margin-bottom: 2vh;
  }
  .burger {
    margin: auto;
    margin-top: -17.7vh;
    line-height: 3px;
    margin-right: -98vw;
  }
  .comparsa ul {
    width: 32vh;
  }
  .linker {
    z-index: -10;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    padding: 2px;
  }
  .burger {
    visibility: hidden;
  }
  .smenu {
    visibility: visible;
  }
  .smenu:hover ~ .burger {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li .linker {
    display: block;
    z-index: 10;
    visibility: visible;
  }
  .smenu:hover ~ .comparsa ul li {
    position: relative;
    z-index: 10;
  }
  .comparsa ul li {
    display: block;
    border: black;
    border-style: solid;
    border-width: 1px;
  }
  .comparsa {
    z-index: 3;
    opacity: 0;
    background-color: #eea200;
    line-height: 10vh;
    margin-top: 4.1vh;
    margin-right: 95vw;
    width: 32vh;
  }
  .smenu:hover ~ .comparsa {
    opacity: 1;
  }
  .smenu {
    margin-bottom: 2vh;
    position: absolute;
    width: 0px;
  }
}
/* Ipad Pro 10.5 */
@media screen and (max-width: 1112px) and (min-width: 736px) {
  header {
    position: fixed;
  }
  input[type="submit"] {
    font-size: 40px;
    width: 30vw;
  }
  input[type="radio"] {
    width: 2%;
    height: 2em;
  }
  .info {
    width: 50%;
  }
  input[type="text"] {
    font-size: 40px;
    width: 30vw;
  }
  input[type="email"] {
    font-size: 40px;
    width: 30vw;
  }
  .contenitore {
    height: 60vh;
  }
  .slider {
    height: 100%;
  }
  .slide {
    height: 60vh;
  }
  .middle {
    margin-top: 65vh;
  }
  .box {
    display: block;
    margin: auto;
    width: 70%;
    padding: 10px;
    height: 40vh;
  }
  .nascosto {
    height: 35vh;
    width: 100%;
  }
  .blocco {
    position: sticky;
    z-index: -1;
  }
  .blocco img {
    width: 40vh;
  }
  .column {
    overflow: auto;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: auto;
  }
  .prezzo {
    font-size: 25px;
  }
  .form {
    font-size: 50px;
  }
  .form1 {
    font-size: 50px;
  }
  .comparsa {
    visibility: hidden;
  }
  .burger,
  .smenu {
    display: none;
  }
  .column:nth-child(4) {
    overflow: hidden;
  }
  .column:nth-child(2) {
    overflow: auto;
  }
  .burger {
    visibility: hidden;
  }
}
/* Ipad Pro 10.5 Landscape */
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    position: fixed;
  }
  .contenitore {
    height: 80vh;
  }
  .box {
    display: block;
    margin: auto;
    width: auto;
  }
  .nascosto {
    height: 28vh;
    width: 55vw;
    margin: auto;
  }
  .blocco {
    position: sticky;
    z-index: -1;
  }
  .blocco img {
    width: 40vh;
  }
  .column {
    overflow: auto;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: auto;
  }
  .prezzo {
    font-size: 25px;
  }
  .form {
    font-size: 30px;
  }
  .form1 {
    font-size: 30px;
  }
  .comparsa {
    visibility: hidden;
  }
  .burger,
  .smenu {
    display: hidden;
  }
  .column:nth-child(4) {
    overflow: hidden;
  }
  .column:nth-child(2) {
    overflow: hidden;
  }
  .page {
    margin-top: 90px;
  }
}
/* IPad Pro 12.9 */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  header {
    position: fixed;
  }
  .contenitore {
    height: 70vh;
  }
  .slide {
    height: 70vh;
  }
  .middle {
    margin-top: 75vh;
  }
  .box {
    display: block;
    margin: auto;
    width: auto;
  }
  .nascosto {
    height: 35vh;
    width: 50%;
    margin: auto;
  }
  .blocco {
    position: sticky;
    z-index: -1;
  }
  .blocco img {
    width: 40vh;
  }
  .column {
    overflow: auto;
  }
  .column a {
    font-size: 25px;
  }
  .portfolio > div {
    width: 100%;
  }
  .prezzo {
    font-size: 25px;
  }
  .form {
    font-size: 30px;
  }
  .form1 {
    font-size: 30px;
  }
  .comparsa {
    visibility: hidden;
  }
  .burger,
  .smenu {
    display: hidden;
  }
  .column:nth-child(4) {
    overflow: hidden;
  }
  .column:nth-child(2) {
    overflow: auto;
  }
  .column:nth-child(3) {
    overflow: hidden;
  }
  .page {
    margin-top: 90px;
  }
}
@media screen and (min-width: 1366px) {
  header {
    height: 90px;
    line-height: 90px;
  }
  .contenitore {
    height: 90vh;
  }

  .nascosto {
    height: 130%;
    width: 100%;
  }
  .slide {
    height: 100vh;
    width: 100vw;
  }
  .logo {
    font-size: 30px;
  }
  .link {
    font-size: 35px;
  }
  .link:hover {
    padding: 32px 26px;
  }
  .box {
    margin: auto;
    padding: 10px;
  }
  .blocco {
    position: sticky;
    z-index: -1;
  }
  .blocco img {
    width: 50vh;
  }
  .column {
    overflow: hidden;
    height: 45vh;
  }
  .column a {
    font-size: 25px;
  }
  .responsive {
    height: 100%;
  }
  .portfolio {
    height: 76%;
  }
  .portfolio > div {
    width: 33.33%;
    height: 60%;
    padding: 1px;
  }
  .prezzo {
    font-size: 30px;
  }
  .form {
    font-size: 35px;
  }
  .form1 {
    font-size: 35px;
  }
  .column {
    font-size: 30px;
  }
  .burger,
  .smenu {
    display: none;
  }
}
